# Copy this file to terraform.tfvars and update the values as needed

aws_region          = "us-east-1"
aws_account_id      = "676206911983"
project_name        = "ecommerce-app"
environment         = "dev"
instance_type       = "t3.micro"
key_pair_name       = "ecommerce-key"  # Update this to your actual key pair name
allowed_cidr_blocks = ["0.0.0.0/0"]   # Restrict this for better security
app_port           = 5000
github_repo_url    = "https://github.com/mujoko/E-commerce-Web-App.git"

# Datadog configuration
dd_api_key         = "your-datadog-api-key-here"
dd_site           = "us5.datadoghq.com"
